
<h2>{{ title_form }}</h2>
<!-- status: {{ status }} -->
<!-- {{car.title}} -->
<!-- {{ status | json }} -->
<div class="alert alert-success" *ngIf="status_result == 'success'">
  Car added succesfully
</div>
<div class="alert alert-danger" *ngIf="status_result == 'error'">
  Error adding car
</div>

<form #newCarForm='ngForm' (ngSubmit)='onSubmit(newCarForm);' class="col-md-7">
  <p>
    <label for="title">Title</label>
    <input type="text" name="title" #title='ngModel' [(ngModel)]="car.title" class="form-control" required/>
    <span *ngIf='!title.valid && title.touched'>Title is required</span>
  </p>
  <p>
    <label for="description">description</label>
    <textarea name="description" #description='ngModel' [(ngModel)]="car.description" class="form-control" required></textarea>
    <span *ngIf='!description.valid && description.touched'>description is required</span>
  </p>
  <p>
    <label for="price">Price</label>
    <input type="number" name="price" #price='ngModel' [(ngModel)]="car.price" class="form-control" required/>
    <span *ngIf='!price.valid && price.touched'>Price is required</span>
  </p>
  <p>
    <label for="status">Status</label>
    <select class="form-control" name="status" #status='ngModel' [(ngModel)]="car.status" required>
      <option value="true" selected='selected'>Yes</option>
      <option value="false">No</option>
    </select>
    <span *ngIf='!status.valid && status.touched'>Status is required</span>
  </p>

  <input type="submit" value="Save" class="btn btn-success" [disabled]="!newCarForm.form.valid"/>
</form>
